/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset, variables, mixins ================================= */
@import 'reset';
@import 'variables';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body{
	background: white;
	font-family: "Roboto Mono";
}

/* 2. Content ================================= */


a{
	color: $header-color;
	text-align: center;
	display: block;
	text-decoration: none;
}

h1{
	font-size: 2em;
	@include bottom-padding;
}

.nav li{
	font-size: 1.2em;
	@include bottom-padding;
}

.hero{
	background: $box-color;
	color: #fff;
	padding: 7em 0;
	margin-bottom: 48px;
}

.col{
	background: $box-color;
	padding: 1em;
	margin: 0 2em .8em;
	@include border-radius;
	text-align: center;

	&:last-child{
		margin-bottom: 30px;
	}
}

h2{
	font-size: 1.5em;
	text-align: center;
}

h3{
	font-size: 1.25em;
	@include bottom-padding;
	font-weight: bold;
	text-decoration: underline;
}

h4{
	@extend h3;
	text-transform: uppercase;
	text-decoration: none;
}

.button{
	background: $button-color;
	padding: .625em 1.25em;
	display: inline-block;
	color: #fff;
	@include border-radius;
	text-align: left;
}

.features li{
	list-style: disc outside none;
	display: list-item;
	margin-left: 1em;
	text-align: left;
	
	&:last-child{
		@include bottom-padding;
	}
}

p:nth-child(6n) {  
	@include bottom-padding;
  }


