/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset, variables, mixins ================================= */
@import 'reset';
@import 'variables';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body{
	background: white;
	font-family: "Roboto Mono";
}

/* 2. Content ================================= */


a{
	color: $header-color;
	text-align: center;
	display: block;
	text-decoration: none;

	&:hover{
		filter: blur(5px);
	}

	&.selected{
		font-weight: bold;
	}
}

h1{
	font-size: 2em;
	@include bottom-padding;
}

ul.nav a{
	font-size: 1.2em;
	@include bottom-padding;
	display: block;
	padding: 5px 15px;

	&:last-child{
		margin-bottom: 30px;
	}
}

ul.nav{
	@include bp-desktop{
		@include flex-display;
		margin-left: auto
	}
}

.hero{
	background: url(../img/soylutions.jpg) no-repeat;
	background-size:110%;
	background-position-x: -30px;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	padding: 7em 0;
	margin-bottom: 48px;
	@include general-transition;

	@include bp-desktop{
		background-size: cover;
		background-position-x: 0px;
		background-position-y: -366px;
	}
}

.pricing-row{
	@include bp-desktop{
		@include flex-display;
	}
}	

.header{
	@include bp-desktop{
		@include flex-display;
		padding: 1em .5em 0em;
		flex-direction: row;
	}
}	

.col{
	background: $box-color;
	padding: 1em;
	margin: 0 2em 1.8em;
	@include border-radius;
	text-align: center;

	@include bp-desktop{
		@include flex-display;
		flex-direction: column;
		flex: 1;
	}
}

.special{
	background: $special-color;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75), 0px 0px 18px 3px rgba(0,0,0,0.75);

	h3{
		text-decoration: underline overline;
		font-size: 1.5em;
	}

	h4{
		text-decoration: none;
	}

	.button{
		background-color: yellow;
		color: black;
		border: 1px solid black;
	}
}

h2{
	font-size: 2em;
	text-align: center;
}

h3{
	font-size: 1.25em;
	@include bottom-padding;
	font-weight: bold;
	text-decoration: underline;
}

h4{
	@extend h3;
	text-transform: uppercase;
	text-decoration: none;
}

.discount{
	text-decoration: line-through;
	padding-right: 10px;
}

.button{
	background: $button-color;
	padding: .625em 1.25em;
	display: inline-block;
	color: #fff;
	@include border-radius;
	text-align: left;

	&:hover{
	background: $button-hover;
	@include general-transition;
	@include bp-desktop;
	filter: blur(0px);
	}

	@include bp-desktop{
		align-self: flex-start;
		margin-top: auto;
	}
}

.features li{
	list-style: disc outside none;
	display: list-item;
	margin-left: 1em;
	text-align: left;
	
	&:last-child{
		@include bottom-padding;
	}
}

ul.features{
	align-self: center;
}

p:nth-child(6n) {  
	@include bottom-padding;
}


