/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset, variables, mixins ================================= */
@import 'reset';

$header-color: deeppink;
$box-color: #96B3D3;
$button-color: #CC1559;


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body{
	background: white;
	border-radius: .35rem;
	font-family: helvetica, arial, sans-serif;
}

/* 2. Content ================================= */


a{
	color: $header-color;
	text-align: center;
	display: block;
	text-decoration: none;
}

h1{
	font-size: 2em;
	padding-bottom: 10px;
}

.nav li{
	font-size: 1.2em;
	padding-bottom: 10px;
}

.hero{
	background: $box-color;
	color: #fff;
	padding: 7em 0;
	margin-bottom: 48px;
}

.col{
	background: $box-color;
	padding: 1em;
	margin: 0 2em .8em;
	border-radius: .35em;
	text-align: center;

	&:last-child{
		margin-bottom: 30px;
	}
}

h2{
	font-size: 1.5em;
	text-align: center;
}

h3{
	font-size: 1.25em;
	padding-bottom: 10px;
}

.button{
	background: $button-color;
	padding: .625em 1.25em;
	display: inline-block;
	color: #fff;
	border-radius: .35em;
	text-align: left;
}

.features li{
	list-style: disc outside none;
	display: list-item;
	margin-left: 1em;
	text-align: left;
	
	&:last-child{
		padding-bottom: 10px;
	}
}


